# Direct dependencies for InsuranceScraper (install with: pip install -r requirements.txt)
beautifulsoup4>=4.12.2
pandas>=2.0.3
jdatetime>=4.1.1
requests>=2.31.0
gspread>=5.12.4
gspread-formatting>=1.1.2
selenium>=3.141.0
lxml>=4.9.3
openpyxl>=3.0.10
